<div id="player-card-1" class="card player-card">
  <img src="./media/player-content/player_avatars/peeetmanski-cropped.png" class="card-img-top player-image object-fit-fill" alt="">
  <div class="card-body border">
    <h5 class="card-title player-name">Peeetmanski</h5>
    <div class="player-stats d-flex justify-content-between align-items-center flex-row border-white border-bottom mb-1">
      <span>K: </span>
      <span class="kills">5</span>
    </div>
    <div class="player-stats d-flex justify-content-between align-items-center flex-row border-white border-bottom mt-1 mb-1">
      <span>MVPs: </span><span class="mvps">2</span>
    </div>
    <div class="player-stats d-flex justify-content-between flex-row mt-1 mb-1">
      <div>D: <span class="deaths">2</span></div>
      <div>A: <span class="assists">1</span></div>
      <div>KD: <span class="kd">5</span></div>
    </div>
  </div>
  <div class="beer-wrapper d-flex justify-content-between flex-column align-self-center border border-top-0 p-1">
      <span>Died with <br>Grenades in Hand: </span>
      <span>10</span>
  </div>
  <div class="beer-wrapper d-flex justify-content-between flex-column align-self-center border border-top-0 p-1">
      <span>Beers: </span>
      <span>10</span>
  </div>
</div>