 body {
    font-family: "Anta", sans-serif;
}

.full-height-wrapper{
    flex-direction: row;
    height: 100vh;
}

#core-wrapper{
    flex: 1;
}

#header, #footer{
    height: 3vh;
    padding-left: 1%;
    padding-right: 1%;
}

.bg-fade-ct-to-t-1 {
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-fade-ct-to-t-2{
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #659999, #f4791f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #659999, #f4791f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#animation-wrapper{   
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

#score-box, .team-box{
    font-size: 8rem;
    font-weight: bold;
}
.team-ct{
    color: #2196f3;
}
.team-t{
    color: #ff9800;
}

#event-text{
    font-size: 4rem;
}

#mapmode-wrapper{
    width: 33%;
}

#t-wrapper{
    margin-left: 1%;
}

#ct-wrapper{
    margin-right: 1%;
}

.player-stats{
    display: initial;
}

#team-spacer{
    margin-right: 1%;
    margin-left: 1%;
    background-image: linear-gradient(#FFF, #FFF);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.player-card{
    width: 20%;
    background: none;
    border: none;
    margin-left: 1%;
    margin-right: 1%;
}

div.player-card > div.card-body{
/*    box-shadow: 6px 3px 20px 1px white;*/
}

.player-name{
    font-weight: bold;
}
.dwgh, .beers{
    font-size: 2rem;
}

/* Style for the not-alive state */
.player-card.not-alive .card-body,
.player-card.not-alive .beer-wrapper,
.player-card.not-alive .card-img-top {
    opacity: 0.5;
}
.player-card.not-alive .card-img-top {
    filter: grayscale(100%) sepia(1) hue-rotate(-50deg) brightness(0.9);
}

.player-card.not-alive::before {
    content: 'DEAD';
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0%) rotate(340deg);
    font-size: 2em;
    color: red;
    font-weight: bold;
    z-index: 3;
    pointer-events: none; /* Ensures text doesn't interfere with card interaction */
}

.player-card.not-alive .card-img-top {
    filter: grayscale(100%) sepia(1) hue-rotate(-50deg) brightness(0.9);
}

.player-card {
    position: relative; /* Required for the pseudo-elements to position correctly */
    overflow: hidden; /* Ensures the pseudo-elements don't extend outside the card */
}


.logo-container {
    position: fixed; /* Change to fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    z-index: 999; /* Ensure the logo appears above other content */
}

/* Optional: Adjust logo size */
.logo {
    width: 15vw; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
}



